@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: var(--color-sand-1);
  background-image: radial-gradient(var(--color-gray-6) 1.3px, transparent 1.3px);
  background-size: 24px 24px;
  min-height: 100svh;
  min-width: 100svw;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
